
#back{
	margin : 10px;
	background-color: #cccccc;
}
#SideBar{
	width : 10%;
	float : left;
	background-color: blue;
}

#GNB{
	background-color: green;
	width: 100%;
	margin: 10px 0;
}

#MainArea{
	background-color: yellow;
	margin-left : 11%;
	width: 89%;
	margin-top: -10px;
}

.menu{
	margin: 1% 2%;
	width: 15%;
	height: 40px;
	background-color: #00ff00;
	border-width: 0px;
}

.menu:hover{
	background-color: #77ff00;
}

.sidemenu{
	margin: 5% 10%;
	width: 80%;
	height: 30px;
	background-color: #0077ff;
	border-width: 0px;
}

.sidemenu:hover{
	background-color: #00ffff;
}

header{
	background-color: #dddddd;
}

#footer{
	width: 100%;
	background-color: #dddddd;
	clear: both;
}